* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #d38542;
    font-family: 'Playfair Display';
}

h1 {
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}


.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .7s;
}

.memory-card:active {
    transform: scale(.95);
    transition: transform .1s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #4b2e00;
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

.score-panel {
    text-align: left;
    width: 545px;
    margin-bottom: 10px;
    color: #0d0d0e;
}

.score-panel .timer {
    display: inline;
    position: absolute;
    left: 56%;
}
  
.score-panel .restart {
    float: right;
    cursor: pointer;
}


/* Media queries */

@media screen and (min-width: 768px)
  and (max-width: 1024px){
     .memory-game {
      width: 640px;
      min-height: 640px;
    }
}

@media screen and (max-width: 812px) {
    .memory-game {
      width: 550px;
      min-height: 550px;
    }
}

@media only screen and (max-width: 568px) {
    .memory-game{
      width: 450px;
      min-height: 400px;
    }
}